**Data Overview**

In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('../data/productivity_raw.csv')

In [53]:
df.shape

(92, 7)

In [54]:
df.head()

       Date Day_of_Week Weather  Temperature  Mood_Score  Music  Study_Hours
0  9/2/2025     Tuesday  Cloudy         24.4           3   Jazz          2.3
1  9/3/2025   Wednesday  Cloudy         27.8           5  Indie          4.9
2  9/4/2025    Thursday  Cloudy         25.0           8    EDM          3.1
3  9/5/2025      Friday  Cloudy         24.3           2   Jazz          3.7
4  9/6/2025    Saturday  Cloudy         25.0          10    Pop          4.1

In [55]:
df.dtypes

Date            object
Day_of_Week     object
Weather         object
Temperature    float64
Mood_Score       int64
Music           object
Study_Hours    float64
dtype: object

In [56]:
df.describe()

       Temperature  Mood_Score  Study_Hours
count    92.000000   92.000000    92.000000
mean     23.926087    4.804348     3.611957
std       3.125115    2.754573     0.796399
min      16.600000    1.000000     2.100000
25%      22.075000    3.000000     3.075000
50%      24.200000    4.000000     3.650000
75%      26.100000    7.000000     4.200000
max      29.500000   10.000000     5.000000

In [57]:
df.info

<bound method DataFrame.info of           Date Day_of_Week Weather  Temperature  Mood_Score  Music  \
0     9/2/2025     Tuesday  Cloudy         24.4           3   Jazz
1     9/3/2025   Wednesday  Cloudy         27.8           5  Indie
2     9/4/2025    Thursday  Cloudy         25.0           8    EDM
3     9/5/2025      Friday  Cloudy         24.3           2   Jazz
4     9/6/2025    Saturday  Cloudy         25.0          10    Pop
..         ...         ...     ...          ...         ...    ...
87  11/28/2025      Friday   Rainy         22.5           5  Lo-fi
88  11/29/2025    Saturday   Rainy         20.0           7   Rock
89  11/30/2025      Sunday   Rainy         21.9           9    EDM
90   12/1/2025      Monday   Rainy         17.8           8    Pop
91   12/2/2025     Tuesday   Rainy         16.6           4  Lo-fi

    Study_Hours
0           2.3
1           4.9
2           3.1
3           3.7
4           4.1
..          ...
87          4.4
88          4.2
89          2.4
90          2.2
91          4.3

[92 rows x 7 columns]>