**Imports and Reading Data**

In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('../data/productivity_raw.csv')

**Data Understanding**

In [39]:
df.shape

(92, 8)

In [40]:
df.head()

,Date,Day_of_Week,Weather,Temperature,Mood,Music,Study_Hours,Session_Time
0,9/2/2025,Tuesday,Cloudy,24.4,Happy,EDM,2.3,Afternoon
1,9/3/2025,Wednesday,Cloudy,27.8,Stressed,Ambient,4.9,Afternoon
2,9/4/2025,Thursday,Cloudy,25.0,Sad,Ballad,3.1,Evening
3,9/5/2025,Friday,Cloudy,24.3,Happy,Pop,3.7,Afternoon
4,9/6/2025,Saturday,Cloudy,25.0,Happy,EDM,4.1,Morning

In [41]:
df.dtypes

Date             object
Day_of_Week      object
Weather          object
Temperature     float64
Mood             object
Music            object
Study_Hours     float64
Session_Time     object
dtype: object

In [42]:
df.describe()

       Temperature  Study_Hours
count    92.000000    92.000000
mean     23.926087     3.611957
std       3.125115     0.796399
min      16.600000     2.100000
25%      22.075000     3.075000
50%      24.200000     3.650000
75%      26.100000     4.200000
max      29.500000     5.000000

In [43]:
df.info

<bound method DataFrame.info of           Date Day_of_Week Weather  Temperature      Mood      Music  \
0     9/2/2025     Tuesday  Cloudy         24.4     Happy        EDM
1     9/3/2025   Wednesday  Cloudy         27.8  Stressed    Ambient
2     9/4/2025    Thursday  Cloudy         25.0       Sad     Ballad
3     9/5/2025      Friday  Cloudy         24.3     Happy        Pop
4     9/6/2025    Saturday  Cloudy         25.0     Happy        EDM
..         ...         ...     ...          ...       ...        ...
87  11/28/2025      Friday   Rainy         22.5     Happy       Vpop
88  11/29/2025    Saturday   Rainy         20.0       Sad      Indie
89  11/30/2025      Sunday   Rainy         21.9       Sad      Indie
90   12/1/2025      Monday   Rainy         17.8     Happy        Pop
91   12/2/2025     Tuesday   Rainy         16.6  Stressed  Classical

    Study_Hours Session_Time
0           2.3    Afternoon
1           4.9    Afternoon
2           3.1      Evening
3           3.7    Afternoon
4           4.1      Morning
..          ...          ...
87          4.4      Evening
88          4.2      Evening
89          2.4    Afternoon
90          2.2    Afternoon
91          4.3    Afternoon

[92 rows x 8 columns]>